*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: Roboto;
}

.nav {
  min-height: 100px;
  line-height: 100px;
  background-color: #fff;
}

#h-nav .logo img {
  width: 100%;
  height: 100%;
}

#h-nav {
  min-height: 120px;
  line-height: 120px;
}

li,
nav {
  display: inline-block;
}

.navigation,
.sign-up {
  line-height: 110px;
}

li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.2s;
}

li a:hover {
  color: #006aff;
  text-decoration: none;
}

.menu-hamb {
  display: none;
}

.fa-bars {
  font-size: 20px;
}

.login {
  display: inline-block;
  padding: 0 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.login span a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
  padding: 0 15px;
  transition: all 0.2s;
}

.login span a:hover {
  color: #006aff;
}

.login .h-btn {
  color: #006aff;
  border: 1px solid #006aff;
  font-weight: bold;
  padding: 8px;
  transition: all 0.3s;
}

.login .h-btn:hover {
  color: #fff;
  background-color: #006aff;
}

.menu-hamb {
  display: none;
}

.fa-bars {
  font-size: 20px;
}

#jumbotron {
  background-image: url(../img/jumbo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  position: relative;
}

#jumbotron .h-title {
  padding-left: 0;
  color: #fff;
}

#jumbotron .h-title .h-jumbo {
  padding: 25% 0;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

#jumbotron .h-title .h-jumbo p {
  font-size: 24px;
  font-family: italic;
  margin-top: 15px;
}


@media all and (max-width: 1199px) {
  .navigation,
  .sign-up {
    display: none;
  }
}

@media all and (max-width: 1198px) {
  .menu-hamb {
    display: block;
  }
  #h-nav .logo img {
    width: auto;
    height: auto;
  }
}
