*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: Roboto;
  height: 6000px;
}

.nav {
  min-height: 100px;
  line-height: 100px;
  background-color: #fff;
  position: relative;
}

#h-nav .logo img {
  width: 100%;
  height: 100%;
}

#h-nav {
  min-height: 110px;
}

.navbar-fixed-top {
  background-color: #fff;
}

#h-nav li,
nav {
  display: inline-block;
}

#h-nav .navigation,
.sign-up {
  line-height: 110px;
}

.sign-up {
  padding-right: 0;
}

#h-nav li a {
  text-decoration: none;
  color: hsl(221,93%,16%);
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.2s;
}

#h-nav li a:hover {
  color: #006aff;
  text-decoration: none;
}

.menu-hamb {
  display: none;
}

.fa-bars {
  font-size: 20px;
}

.login {
  display: inline-block;
  padding: 0 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.login span a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
  padding: 0 15px;
  transition: all 0.2s;
}

.login span a:hover {
  color: #006aff;
}

.login .h-btn {
  color: #006aff;
  border: 1px solid #006aff;
  font-weight: bold;
  padding: 8px;
  transition: all 0.3s;
}

.login .h-btn:hover {
  color: #fff;
  background-color: #006aff;
}

.menu-hamb {
  display: none;
}

.fa-bars {
  font-size: 20px;
}

#jumbotron {
  background-image: url(../img/jumbo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron .h-title {
  padding-left: 0;
  color: #fff;
}

#jumbotron .h-title .h-jumbo,
#jumbotron .h-register .h-started  {
  margin: 25% 0;
}



#jumbotron .h-title .h-jumbo p {
  font-size: 22px;
  font-family: italic;
  margin-top: 15px;
}

.h-register {
  padding-right: 0;
}

.h-started {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 15px;
}

h1 {
  font-size: 55px;
  font-weight: bold;
}

h3 {
  color: #031b4e;
  font-weight: bold;
  padding: 20px;
}

h3 span {
  color: #006aff;
  padding-top: 10px;
}

.jumbo-form {
  padding: 10px 10px;
}


.jumbo-btn {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  font-weight: bold;
}

.jumbo-btn:first-of-type {
  background-color: #006aff;
  color: #fff;
}

.jumbo-btn:first-of-type:hover {
  background-color: #fff;
  color: #006aff;
  border: 1px solid #006aff;
}

#term {
  font-family: italic;
}

#term a {
  text-decoration: underline;
  font-weight: bold;
}

#customer {
  background-color: #f3f5f9;
  padding: 40px 0;
}

#customer p {
  font-weight: bold;
  padding: 20px 0;
  color: #5b6987;
}

#customer img {
  width: auto;
  height: auto;
}

#customer .brand {
  padding: 20px 0 20px 30px;
  text-align: center;
}

#customer .customer-link {
  padding: 20px 0;
}

#customer .customer-link a {
  color: #006aff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

#customer .customer-link a:hover {
  color: #031b4e;
}

.fa-chevron-right {
  padding-left: 10px;
}

#deploy {
  padding: 40px 0;
}

#deploy .dep-title h3 {
  font-size: 30px;
}

#deploy .dep-title p {
  font-size: 20px;
  font-family: italic;
  color: #5b6987;
}

#deploy .dep-list,
.dep-item {
  margin-top: 40px;
}

#deploy nav ul {
  list-style: none;
}

#deploy nav ul li {
  padding: 12px;
  border-left: 2px solid rgba(3, 27, 78, 0.6);
}

#deploy nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: rgba(3, 27, 78, 0.6);
  transition: all 0.2s;
}

#deploy nav ul li a:hover {
  color: rgba(3, 27, 78, 1);
}

#deploy nav ul li:hover {
  border-left: 2px solid rgba(3, 27, 78, 1);
}

#deploy .dep-list img {
  width: auto;
  height: auto;
}

#deploy .dep-list h5 {
  color: #031b4e;
  font-weight: bold;
  font-size: 16px;
}

#deploy .dep-list p {
  font-family: italic;
  color: #5b6987;
  font-weight: bold;
}

#deploy .dep-list .dep-minisec {
  min-height: 150px;
}

#designed {
  background-color: #f3f5f9;
  padding: 40px 0;
}

#designed h3 {
  font-size: 30px;
  padding-bottom: 0;
}

#designed .des-title p {
  font-size: 20px;
  font-family: italic;
  color: #5b6987;
  margin-bottom: 30px;
}

#designed .des-final p {
  padding-top: 20px;
  padding-bottom: 0;
  font-weight: bold;
  color: #031b4e;
}

#designed .carousel {
  background-image: url(../img/carousel-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#designed .fa-chevron-left,
.fa-chevron-right {
  font-weight: 900;
  font-size: 25px;
}

#designed .c-icon {
  line-height: 500px;
}

.fa-circle {
  color: #006aff;
}

#features {
  padding: 40px 0;
}

#features h3 {
  font-size: 30px;
}

#features img {
  width: auto;
  height: auto;
}

#features .feat-list h5 {
  color: #031b4e;
  font-weight: bold;
  font-size: 16px;
}

#features .feat-list p {
  font-family: italic;
  color: #5b6987;
  font-weight: bold;
}

#features .feat-list {
  min-height: 150px;
  padding-bottom: 20px;
}

#features .feat-list a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #006aff;
  transition: all 0.1s;
}

#features .feat-list a:hover {
  color: rgb(10, 72, 231);
}

#features .feat-list .fa-chevron-right {
  font-size: 13px;
}

#world {
  background: #031b4e url(../img/data-center-map.svg);
  padding: 40px 0;
  min-height: 600px;
}

#world h3 {
  font-size: 30px;
  color: #fff;
}

#world p {
  font-size: 20px;
  font-family: italic;
  color: #fff;
}

#world p a {
  text-decoration: none;
  color: #006aff;
  transition: all 0.1s;
}

#world p a:hover {
  color: rgb(10, 72, 231);
}

#world .w-table {
  margin-top: 40px;
  color: #fff;
}

#world .w-table a {
  text-decoration: none;
  color: #00d7d2;
  font-size: 14px;
}

#world .w-table a:hover {
  color: rgb(10, 72, 231);
}

#world .w-table a .fa-chevron-right {
  font-size: 11px;
}

#world .cities {
  border-bottom: 1px solid #5b6987;
  padding: 12px 0;
  margin: 0 2px;
}

#world .cities .code {
  padding-left: 0;
}

#world .cities .test {
  padding-right: 0;
}

#world .cities .city {
  color: #fff;
  opacity: 0.6;
}


#development {
  background-color: #f3f5f9;
  padding: 40px 0;
}

#development h3 {
  font-size: 30px;
  padding-bottom: 0;
}

#development p {
  font-size: 20px;
  font-family: italic;
  color: #5b6987;
  margin-bottom: 30px;
}

#development p a {
  text-decoration: none;
  color: #006aff;
  font-weight: bold;
}

#development p a:hover {
  color: rgb(10, 72, 231);
}

#development .rockerbox {
  height: 300px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(1,14,40,0.2);
}

#development .rockerbox img {
  width: auto;
  height: auto;
  padding: 30px 0;
}

#development .fa-chevron-left,
.fa-chevron-right {
  font-weight: 900;
  font-size: 25px;
}

#development .c-icon {
  line-height: 300px;
}

.fa-circle {
  color: #006aff;
}

#development .des-final {
  padding: 20px;
}

#development .rockerbox .phrase {
  font-size: 24px;
  font-family: italic;
  font-weight: 200;
  margin-bottom: 10px;
}

#development .rockerbox .phrase .fa-quote-right,
#development .rockerbox .phrase .fa-quote-left {
  opacity: 0.5;
  font-size: 18px;
}

#development .rockerbox .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

#development .rockerbox p:last-of-type {
  font-size: 12px;
}

#development .rockerbox a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #006aff;
  transition: all 0.1s;
}

#development .rockerbox a:hover {
  color: rgb(10, 72, 231);
}

#development .rockerbox a .fa-chevron-right {
  font-size: 16px;
}


/* inizio media-query */

@media all and (max-width: 1199px) {
  .navigation,
  .sign-up {
    display: none;
  }
}

@media all and (max-width: 1198px) {
  .menu-hamb {
    display: block;
  }

  #h-nav .logo img {
    width: auto;
    height: auto;
  }

  #jumbotron .h-title .h-jumbo,
  #jumbotron .h-register .h-started  {
    margin: 5% 0;
  }
}

@media all and (max-width: 991px) {
  #jumbotron .h-title .h-jumbo,
  #jumbotron .h-register .h-started  {
    margin: 5% 0;
    text-align: center;
  }

  #customer .brand {
    padding: 10px 0;
  }

  #deploy .dep-list:last-of-type {
    margin-top: 15px;
  }
}
