*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: Roboto;
  height: 4000px;
}

/* #00d7d2 */

.nav {
  min-height: 100px;
  line-height: 100px;
  background-color: #fff;
  position: relative;
}

#h-nav .logo img {
  width: 100%;
  height: 100%;
}

#h-nav {
  min-height: 110px;
}

.navbar-fixed-top {
  background-color: #fff;
}

#h-nav li,
nav {
  display: inline-block;
}

#h-nav .navigation,
.sign-up {
  line-height: 110px;
}

.sign-up {
  padding-right: 0;
}

#h-nav li a {
  text-decoration: none;
  color: hsl(221,93%,16%);
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.2s;
}

#h-nav li a:hover {
  color: #006aff;
  text-decoration: none;
}

.menu-hamb {
  display: none;
}

.fa-bars {
  font-size: 20px;
}

.login {
  display: inline-block;
  padding: 0 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.login span a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
  padding: 0 15px;
  transition: all 0.2s;
}

.login span a:hover {
  color: #006aff;
}

.login .h-btn {
  color: #006aff;
  border: 1px solid #006aff;
  font-weight: bold;
  padding: 8px;
  transition: all 0.3s;
}

.login .h-btn:hover {
  color: #fff;
  background-color: #006aff;
}

.menu-hamb {
  display: none;
}

.fa-bars {
  font-size: 20px;
}

#jumbotron {
  background-image: url(../img/jumbo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron .h-title {
  padding-left: 0;
  color: #fff;
}

#jumbotron .h-title .h-jumbo,
#jumbotron .h-register .h-started  {
  margin: 25% 0;
}



#jumbotron .h-title .h-jumbo p {
  font-size: 22px;
  font-family: italic;
  margin-top: 15px;
}

.h-register {
  padding-right: 0;
}

.h-started {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 15px;
}

h1 {
  font-size: 55px;
  font-weight: bold;
}

h3 {
  color: #031b4e;
  font-weight: bold;
  padding: 20px;
}

h3 span {
  color: #006aff;
  padding-top: 10px;
}

.jumbo-form {
  padding: 10px 10px;
}


.jumbo-btn {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  font-weight: bold;
}

.jumbo-btn:first-of-type {
  background-color: #006aff;
  color: #fff;
}

.jumbo-btn:first-of-type:hover {
  background-color: #fff;
  color: #006aff;
  border: 1px solid #006aff;
}

#term {
  font-family: italic;
}

#term a {
  text-decoration: underline;
  font-weight: bold;
}

#customer {
  background-color: #f3f5f9;
  padding: 40px 0;
}

#customer p {
  font-weight: bold;
  padding: 20px 0;
  color: #5b6987;
}

#customer img {
  width: auto;
  height: auto;
}

#customer .brand {
  padding: 20px 0 20px 30px;
  text-align: center;
}

#customer .customer-link {
  padding: 20px 0;
}

#customer .customer-link a {
  color: #006aff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

#customer .customer-link a:hover {
  color: #031b4e;
}

.fa-chevron-right {
  padding-left: 10px;
}

#deploy {
  padding: 40px 0;
}

#deploy .dep-title h3 {
  font-size: 30px;
}

#deploy .dep-title p {
  font-size: 20px;
  font-family: italic;
  color: #5b6987;
}

#deploy .dep-list,
.dep-item {
  margin-top: 40px;
}

#deploy nav ul {
  list-style: none;
}

#deploy nav ul li {
  padding: 12px;
  border-left: 2px solid rgba(3, 27, 78, 0.6);
}

#deploy nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: rgba(3, 27, 78, 0.6);
  transition: all 0.2s;
}

#deploy nav ul li a:hover {
  color: rgba(3, 27, 78, 1);
}

#deploy nav ul li:hover {
  border-left: 2px solid rgba(3, 27, 78, 1);
}

#deploy .dep-list img {
  width: auto;
  height: auto;
}

#deploy .dep-list h5 {
  color: #031b4e;
  font-weight: bold;
  font-size: 16px;
}

#deploy .dep-list p {
  font-family: italic;
  color: #5b6987;
  font-weight: bold;
}

#deploy .dep-list .dep-minisec {
  min-height: 150px;
}

#designed {
  background-color: #f3f5f9;
  padding: 40px 0;
}

#designed h3 {
  font-size: 30px;
  padding-bottom: 0;
}

#designed .des-title p {
  font-size: 20px;
  font-family: italic;
  color: #5b6987;
  margin-bottom: 30px;
}

#designed .des-final p {
  padding-top: 20px;
  padding-bottom: 0;
  font-weight: bold;
  color: #031b4e;
}

#designed .carousel {
  background-image: url(../img/carousel-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-weight: 900;
  font-size: 25px;
}

#designed .c-icon {
  line-height: 500px;
}

.fa-circle {
  color: #006aff;
}



/* inizio media-query */

@media all and (max-width: 1199px) {
  .navigation,
  .sign-up {
    display: none;
  }
}

@media all and (max-width: 1198px) {
  .menu-hamb {
    display: block;
  }

  #h-nav .logo img {
    width: auto;
    height: auto;
  }

  #jumbotron .h-title .h-jumbo,
  #jumbotron .h-register .h-started  {
    margin: 5% 0;
  }
}

@media all and (max-width: 991px) {
  #jumbotron .h-title .h-jumbo,
  #jumbotron .h-register .h-started  {
    margin: 5% 0;
    text-align: center;
  }

  #customer .brand {
    padding: 10px 0;
  }

  #deploy .dep-list:last-of-type {
    margin-top: 15px;
  }
}
